{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wypożyczalnia samochodów">
    <meta name="author" content="Mateusz">
    {% block head %}
        <title>Wypożyczalnia</title>
    {% endblock head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.js"></script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <style>
        body {
            padding-top: 56px;
        }
        .content{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>

</head>

<body>

<!-- Nawigacja -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Auto-Rent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona Główna
                    </a>
                </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/wyloguj">Wyloguj</a>
                        </li>

            </ul>
        </div>
    </div>
</nav>

<!-- tresc strony -->
<div class="container">
    <div class="row content">

        <div class="col-sm-10 content">
            <h1 class="text-center">{% block title %} {% endblock %}</h1>
            {% block content %}
            {% endblock %}
        </div>

        <div class="col-sm-2 sidenav">
            <h4 class="text-center">Zarządzaj Zamówieniami</h4>
            <div class="list-group text-center">
                <a href="/panel_pracownika/rezerwacje" type="button" class="list-group-item list-group-item-action">Rezerwacje</a>
                <a href="/panel_pracownika/dokumenty" type="button" class="list-group-item list-group-item-action">Dokumenty</a>
                <a href="/panel_pracownika/dodatkowe_oplaty" type="button" class="list-group-item list-group-item-action">Dodatkowe Opłaty</a>
                <a href="/panel_pracownika/platnosc" type="button" class="list-group-item list-group-item-action">Płatności</a>
                <a href="/panel_pracownika/ubezpieczenie" type="button" class="list-group-item list-group-item-action">Ubezpieczenia</a>
                <a href="/panel_pracownika/typ_ubezpieczenia" type="button" class="list-group-item list-group-item-action">Typy Ubezpieczeń</a>

            </div><br>
            <h4 class="text-center">Zarządzaj Samochodami</h4>
            <div class="list-group text-center">
                <a href="/panel_pracownika/samochod" type="button" class="list-group-item list-group-item-action">Samochody</a>
                <a href="/panel_pracownika/samochod_kategoria" type="button" class="list-group-item list-group-item-action">Kategorie</a>
                <a href="/panel_pracownika/model" type="button" class="list-group-item list-group-item-action">Modele</a>
                <a href="/panel_pracownika/marka" type="button" class="list-group-item list-group-item-action">Marki</a>
                <a href="/panel_pracownika/samochod_silnik" type="button" class="list-group-item list-group-item-action">Typy Silników</a>
                <a href="/panel_pracownika/samochod_skrzynia" type="button" class="list-group-item list-group-item-action">Typy Skrzyń Biegów</a>
            </div>
        </div>

    </div>
</div>
<!-- koniec zawartosci -->

<!-- Stopka -->
<footer class="py-5 bg-dark">
    <div class="">
        <p class="m-0 text-center text-white">Auto-Rent 2020</p>
    </div>
</footer>

<script src="{% static "js/jquery/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>
