{% extends 'base.html' %}
{% block head %}
    <title>Logowanie</title>
{% endblock head %}

{% block content %}
    {% if request.GET.next %}
        <div class="alert alert-warning">
            <strong>Uwaga!</strong> Aby zobaczyć treść tej strony musisz się zalogować!.
        </div>
    {% endif %}
    <h1>Logowanie</h1>
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Błędne dane logowania!</strong> Spróbuj ponownie.
        </div>
    {% endif %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="col text-center">
            <button type="submit" class="btn btn-success btn-lg" >Zaloguj</button>
        </div>
    </form>
    <div style="text-align: center">
        <br><h4 style="text-align: center;">Nie posiadasz konta? Zarejestruj się!</h4>
        <a href="/accounts/register" class="btn btn-info btn-lg">Rejestracja</a>
    </div>
{% endblock %}