{% load static %}
<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Kaucja #{{ id }}</title>

      <style>
@page {
size: a4;
margin: 0.5cm;
}

@font-face {
font-family: "Roboto-Black";
src: url("C:\Users\Mateusz\PycharmProjects\bazy_projekt\paneluzytkownika\templates\pdf\Roboto-Black.ttf");
}

html {
    font-family: Roboto-Black, serif;
font-size: 11pt;
}
          .table_border {
  border: 1px solid black;
               border-collapse: separate;
  border-spacing: 15px;}
          table tr th, table tr td {
  padding: 5px 10px;
}

</style>

  </head>
  <body>
  <div>
      <table style="width: 100%">
  <tr>
      <td><h1>Potwierdzenie Kaucji</h1></td>
      <td style="text-align: right"><h1>Rezerwacja #{{ id }}</h1></td>
  </tr>
</table>
      <hr>

      <table style="width: 100%">
  <tr>
      <td>
          <strong><h2>Sprzedawca</h2></strong>
          Autor-Rent<br>
          Kwiatowa 14<br>
          41-554 Białystok
      </td>
      <td style="text-align: right">
          <strong><h2>Nabywca</h2></strong>
          {% if uzytkownik.czy_firma %}
          {{ uzytkonik.nazwa_firmy }}<br>
              NIP {{ uzytkonik.numer_nip }}<br>
          {{ uzytkownik.ulica }}<br>
          {{ uzytkownik.kod_pocztowy }} {{ uzytkownik.miasto }}
          {% else %}
          {{ uzytkownik.imie }} {{ uzytkownik.nazwisko }}<br>
          {{ uzytkownik.ulica }}<br>
          {{ uzytkownik.kod_pocztowy }} {{ uzytkownik.miasto }}
          {% endif %}
      </td>
  </tr>
</table>

<hr>

      <table class="table_border">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Cena</th>
      </tr>
    </thead>
      <tbody>
      <tr>
        <td>
            Kaucja {{ samochod }}
        </td>
        <td style="text-align: right">{{ samochod_koszt }} PLN</td>
      </tr>

          {% for dodatek in dodatki %}
          <tr>
        <td>dodatek.rodzaj</td>
        <td>dodatek.wysokosc</td>
      </tr>
          {% endfor %}
    </tbody>
  </table>



      <h1 style="text-align: right">Razem do zapłaty: {{ suma }} PLN</h1>

  </div>
  </body>
</html>
