{% extends 'base_panel_uzyt.html' %}
{% block head %}
    <title>Szczegóły zamówienia</title>
{% endblock head %}

{% block content %}
    <h1 class="text-center m-3">Szczegóły rezerwacji nr. {{ rezerwacja.pk }}</h1>
<h3>Szczegóły:</h3>
<table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row">Data Od</th>
                    <td>{{ rezerwacja.data_od }}</td>
                </tr>
            <tr>
                    <th scope="row">Data Do</th>
                    <td>{{ rezerwacja.data_do }}</td>
                </tr>
            <tr>
                    <th scope="row">Uwagi</th>
                    <td>{{ rezerwacja.uwagi }}</td>
                </tr>
            <tr>
                    <th scope="row">Samochód</th>
                    <td>{{ rezerwacja.samochod }}</td>
                </tr>
            <tr>
                    <th scope="row">Status</th>
                    <td>{{ rezerwacja.get_status_rezerwacji_display }}</td>
                </tr>
            </tbody>
        </table>

    {% if rezerwacja.status_rezerwacji == 'WE' or rezerwacja.status_rezerwacji == 'ZA' %}
        <div class="text-center">
    <a href="/panel_pracownika/rezerwacje/edytuj/{{ rezerwacja.id }}" class="btn btn-warning btn-lg" role="button">Anuluj Rezerwacje</a>
    </div>
    {% endif %}


    <h3>Ubezpieczenie:</h3>
<table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Numer Polisy</th>
                <th scope="col">Cena</th>
                <th>Variant</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>{{ rezerwacja.ubezpieczenie.numer_polisy }}</td>
                    <td>{{ rezerwacja.ubezpieczenie.cena }}</td>
                    <td>{{ rezerwacja.ubezpieczenie.typ.variant }}</td>
                </tr>
            </tbody>
        </table>

    <h3>Dokumenty:</h3>
    <table class="table table-striped text-center mb-4">
            <thead>
            <tr>
                <th scope="col">Wysokość kaucji</th>
                <th scope="col">Koszt Wynajmu</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>{{ rezerwacja.samochod.kaucja }} PLN</td>
                    <td>{{ rezerwacja.get_koszt }} PLN</td>
                </tr>
            </tbody>
        </table>
    {% for dokument in dokument_platnosc %}
        <h4>{{ dokument.dokument }}</h4>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Data Płatności</th>
                <th scope="col">Typ</th>
                <th scope="col">Wysokość</th>
            </tr>
            </thead>
            <tbody>
                {% for platnosc in dokument.platnosci %}
                <tr>
                    <td>{{ platnosc.data }}</td>
                    <td>{{ platnosc.typ }}</td>
                    <td>{{ platnosc.wysokosc }} PLN</td>
                </tr>
                    {% endfor %}
            </tbody>
        </table><br>


    {% endfor %}
    <br>
<div class="text-center">

    <a href="/panel_uzytkownika/rezerwacje" class="btn btn-warning btn-lg" role="button">Wróć do listy rezerwacji</a>
    </div>
{% endblock %}